.badge-notify{
    background:red;
    position:relative;
    top: -20px;
    right: 10px;
}
.my-cart-icon-affix {
    position: fixed;
    z-index: 999;
    font-size: 20px !important;
}

.my-cart-btn{
    /*background-color: transparent;*/
    color: #fff;
}